- var linkValues = [{link: './index.html', name: 'Main'}, {link: './about.html', name: 'About'}, {link: './works.html', name: 'Works'}, {link: './blog.html', name: 'Blog'}, {link: './contacts.html', name: 'Contacts'}]
- var langValues = ['UA', 'RU', 'EN']

include mixin

header(id = "header" class="header")
    .logo
        a.logo__link(href="#") 
            img(src="./img/logo.png", alt="porsche Singer")
        //- Porche #[span(class="color") Singer]
            //- +svg('009-flamingo')
    form.search-form
        input(type="text" name="input" class="search-form__input")
        button(type="reset" class="search-form__btn")

    .menu(tabindex=1)
        span.menu__item
    nav.navigation
        ul.navigation__inner
            //- +navLink('./index.html', 'Home')
            //- +navLink('./about.html', 'About')
            //- +navLink('./works.html', 'Works')
            //- +navLink('./blog.html', 'Blog')
            //- +navLink('./contacts.html', 'Contacts')
            
            each i in linkValues
                +navLink(i.link, i.name)

